.Person {
    border: 1px solid #eee;
    padding: 16px;
    margin: 16px auto;
    box-shadow: 0 2px 3px #ccc;
    width: 60%;
    text-align: center;
}

@media (min-width: 500px){
    .Person {
        width: 450px;
    }
}